.stats-section{

padding:110px 7%;

position:relative;

overflow:hidden;

background:
linear-gradient(
135deg,
#0f172a,
#1e3a8a,
#4f46e5
);

text-align:center;

color:white;

}

.stats-section::before{

content:"";

position:absolute;

width:450px;

height:450px;

background:#2563eb;

opacity:.12;

border-radius:50%;

top:-200px;

left:-120px;

filter:blur(70px);

animation:blob1 12s linear infinite;

}

.stats-section::after{

content:"";

position:absolute;

width:350px;

height:350px;

background:#7c3aed;

opacity:.12;

border-radius:50%;

right:-120px;

bottom:-150px;

filter:blur(70px);

animation:blob2 15s linear infinite;

}

@keyframes blob1{

50%{

transform:
translateY(60px)
rotate(180deg);

}

}

@keyframes blob2{

50%{

transform:
translateX(-60px)
rotate(-180deg);

}

}

.stats-heading{

position:relative;

z-index:2;

max-width:700px;

margin:auto;

margin-bottom:70px;

}

.stats-heading span{

padding:10px 22px;

border-radius:30px;

background:rgba(255,255,255,.12);

display:inline-block;

font-weight:700;

margin-bottom:20px;

backdrop-filter:blur(15px);

}

.stats-heading h2{

font-size:52px;

margin-bottom:20px;

font-weight:800;

}

.stats-heading p{

font-size:18px;

line-height:1.8;

opacity:.9;

}

.stats-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

position:relative;

z-index:2;

}

.stats-card{

padding:40px 25px;

border-radius:28px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.08);

transition:.4s;

}

.stats-card:hover{

transform:
translateY(-12px)
scale(1.03);

box-shadow:
0 30px 60px rgba(0,0,0,.25);

}

.stats-icon{

width:80px;

height:80px;

margin:auto;

margin-bottom:25px;

border-radius:22px;

display:flex;

justify-content:center;

align-items:center;

font-size:34px;

color:white;

}

.blue .stats-icon{

background:#2563eb;

}

.purple .stats-icon{

background:#7c3aed;

}

.green .stats-icon{

background:#16a34a;

}

.orange .stats-icon{

background:#ea580c;

}

.stats-card h1{

font-size:50px;

margin-bottom:15px;

font-weight:800;

}

.stats-card h3{

font-size:20px;

font-weight:600;

opacity:.95;

}

@media(max-width:1100px){

.stats-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.stats-section{

padding:80px 20px;

}

.stats-heading h2{

font-size:36px;

}

.stats-grid{

grid-template-columns:1fr;

}

.stats-card{

padding:30px;

}

.stats-card h1{

font-size:40px;

}

}