.whatsapp-btn{

position:fixed;

bottom:95px;

right:25px;

width:65px;

height:65px;

background:#25D366;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

color:#fff;

font-size:34px;

text-decoration:none;

box-shadow:0 10px 30px rgba(0,0,0,.25);

z-index:9999;

transition:.35s;

animation:pulse 2s infinite;

}

.whatsapp-btn:hover{

transform:scale(1.12);

background:#1ebe5d;

box-shadow:0 15px 35px rgba(37,211,102,.45);

}

.whatsapp-btn span{

display:none;

}

@keyframes pulse{

0%{

box-shadow:0 0 0 0 rgba(37,211,102,.6);

}

70%{

box-shadow:0 0 0 18px rgba(37,211,102,0);

}

100%{

box-shadow:0 0 0 0 rgba(37,211,102,0);

}

}

@media(max-width:768px){

.whatsapp-btn{

width:58px;

height:58px;

right:18px;

bottom:90px;

font-size:30px;

}

}